<section class="w-[40vw]">
        <div class="w-full flex flex-wrap justify-between">
            <p class="w-full text-3xl text-secondary font-bold text-center pb-8">{{businessData.name}}</p>
            <div class="w-2/3 flex flex-wrap h-fit">
                @for (item of dataField; track $index) {
                    <div class="w-1/2 h-fit mb-4">
                        <p class="w-full text-lg text-secondary font-bold">{{item.label}}</p>
                        <p class="w-full text- text-slate-100">{{item.value}}</p>
                    </div>
                }
            </div>
            <img [src]="businessData.photo_url || 'assets/img/no-image.jpg'" [errorImage]="'assets/img/no-image.jpg'" 
                alt="Imagen de negocio" class="w-1/3 h-[13rem]">
        </div>
        <div class="w-full grid grid-cols-3 items-center mb-6">
            <div>
                <p class="w-full text-lg text-secondary font-bold">Latitud</p>
                <p class="w-full text- text-slate-100">{{businessData.latitude}}</p>
            </div>
            <div>
                <p class="w-full text-lg text-secondary font-bold">Longitud</p>
                <p class="w-full text- text-slate-100">{{businessData.longitude}}</p>
            </div>
        </div>
        <div class="w-full flex justify-center items-center">
            <div class="w-1/3">
                <p class="w-full text-lg text-secondary font-bold">Calificación</p>
                <p class="w-full text- text-slate-100">{{businessData.rating}}</p>
            </div>
            <div class="w-1/3">
                <p class="w-full text-lg text-secondary font-bold">¿Está abierto 24 horas?</p>
                <p class="w-full text- text-slate-100">{{businessData.open_24}}</p>
            </div>
        </div>
</section>