<section class="w-[100vw] h-[100vh] bg-primary-alter overflow-hidden flex flex-col">
    <app-header class="h-fit"></app-header>
    <div class="flex-1 flex flex-col items-center p-6 gap-6 overflow-auto">
        <div class="w-full text-start">
            <p class="text-2xl tablet:text-4xl text-slate-100 font-semibold">{{title}}</p>
        </div>
        <app-table class="w-[90%] hidden HD:block" [tableData]="tableData" [headerData]="tableHeader" 
            [tableActions]="tableActions" (eventAdd)="goToCreate()" (selectedAction)="getTableAction($event)"></app-table>
        <app-mobile-table [businessList]="business" class="w-full HD:hidden" [tableActions]="tableActions.slice(1)" 
        (selectedAction)="getTableAction($event)"></app-mobile-table>
    </div>
</section>

<ng-template #detail>
    <app-data-card [businessData]="selectedBusiness"></app-data-card>
</ng-template>
