<section class="w-[100vw] h-[100vh] bg-primary-alter flex p-4 HD:p-8 justify-center gap-2">
    <div class="cursor-pointer w-fit hidden tablet:block" (click)="backSection()">
        <mat-icon aria-hidden="false" class="text-slate-200 cursor-pointer tablet:text-4xl HD:text-5xl !w-fit !h-fit" [fontIcon]="'arrow_back'"></mat-icon>
    </div>
    <div class="flex-1 HD:flex-none HD:w-2/3 h-fit max-h-full overflow-auto bg-[#454545] bg-opacity-35 backdrop-blur-[15px] rounded-xl p-10">
        <p class="text-3xl text-slate-200 !mb-12">{{title}}</p>
        <p class="text-xl text-secondary font-bold">Datos del comercio</p>
        <app-form [fields]="formFields" [saveButtonText]="txtButton" (sendData)="saveData($event)" (cancelBtn)="backSection()"></app-form>
    </div>

</section>